[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/chin4ski/oh-my-zsh.git
  ignore = dirty
[submodule ".vim/bundle/cpp-enhanced-highlight"]
	path = .vim/bundle/cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule ".vim/bundle/MiniBufExpl"]
	path = .vim/bundle/MiniBufExpl
	url = https://github.com/chin4ski/minibufexpl.vim.git
[submodule ".vim/bundle/Dispatch"]
	path = .vim/bundle/Dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/orgmode"]
	path = .vim/bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/calendar"]
	path = .vim/bundle/calendar
	url = https://github.com/mattn/calendar-vim.git
[submodule ".vim/bundle/simple_bookmarks"]
	path = .vim/bundle/simple_bookmarks
	url = https://github.com/AndrewRadev/simple_bookmarks.vim.git
[submodule ".vim/bundle/obsession"]
	path = .vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp-modified"]
	path = .vim/bundle/ctrlp-modified
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
[submodule ".vim/bundle/ctrlp-funky"]
	path = .vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
