[submodule ".vim/bundle/errormarker"]
	path = .vim/bundle/errormarker
	url = https://github.com/vim-scripts/errormarker.vim.git
  ignore = dirty
[submodule ".vim/bundle/Mark--Karkat"]
	path = .vim/bundle/Mark--Karkat
	url = https://github.com/chin4ski/Mark--Karkat.git
  ignore = dirty
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
  ignore = dirty
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule ".vim/bundle/vim-yankstack"]
	path = .vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
  ignore = dirty
[submodule ".vim/bundle/grep"]
	path = .vim/bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
  ignore = dirty
[submodule ".vim/bundle/gtags"]
	path = .vim/bundle/gtags
	url = https://github.com/vim-scripts/gtags.vim.git
  ignore = dirty
[submodule ".vim/bundle/sessionman"]
	path = .vim/bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
  ignore = dirty
[submodule ".vim/bundle/textobj-word-column"]
	path = .vim/bundle/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
  ignore = dirty
[submodule ".vim/bundle/current-func-info"]
	path = .vim/bundle/current-func-info
	url = https://github.com/tyru/current-func-info.vim.git
  ignore = dirty
[submodule ".vim/bundle/localbundle"]
	path = .vim/bundle/localbundle
	url = https://github.com/chin4ski/localbundle.vim.git
  ignore = dirty
[submodule ".vim/bundle/xml"]
	path = .vim/bundle/xml
	url = https://github.com/othree/xml.vim.git
  ignore = dirty
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
  ignore = dirty
[submodule ".vim/bundle/aftersyntaxc"]
	path = .vim/bundle/aftersyntaxc
	url = https://github.com/vim-scripts/aftersyntaxc.vim.git
  ignore = dirty
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
  ignore = dirty
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/chin4ski/oh-my-zsh.git
  ignore = dirty
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/chin4ski/a.vim.git
  ignore = dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-detailed"]
	path = .vim/bundle/vim-detailed
	url = https://github.com/rking/vim-detailed.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-between"]
	path = .vim/bundle/vim-textobj-between
	url = https://github.com/thinca/vim-textobj-between.git
[submodule ".vim/bundle/vim-textobj-diff"]
	path = .vim/bundle/vim-textobj-diff
	url = https://github.com/kana/vim-textobj-diff.git
[submodule ".vim/bundle/vim-textobj-function"]
	path = .vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/vim-textobj-parameter"]
	path = .vim/bundle/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter
[submodule ".vim/bundle/CVSconflict"]
	path = .vim/bundle/CVSconflict
	url = https://github.com/vim-scripts/CVSconflict.git
[submodule ".vim/bundle/operator-camelize"]
	path = .vim/bundle/operator-camelize
	url = https://github.com/tyru/operator-camelize.vim.git
[submodule ".vim/bundle/operator-user"]
	path = .vim/bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule ".vim/bundle/signify"]
	path = .vim/bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/recover"]
	path = .vim/bundle/recover
	url = https://github.com/chrisbra/Recover.vim.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/largefile"]
	path = .vim/bundle/largefile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule ".vim/bundle/cpp-enhanced-highlight"]
	path = .vim/bundle/cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/rsi"]
	path = .vim/bundle/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule ".vim/bundle/context_filetype"]
	path = .vim/bundle/context_filetype
	url = https://github.com/Shougo/context_filetype.vim.git
[submodule ".vim/bundle/unite-help"]
	path = .vim/bundle/unite-help
	url = https://github.com/tsukkee/unite-help.git
[submodule ".vim/bundle/EasyClip"]
	path = .vim/bundle/EasyClip
	url = https://github.com/chin4ski/vim-easyclip.git
[submodule ".vim/bundle/MiniBufExpl"]
	path = .vim/bundle/MiniBufExpl
	url = https://github.com/chin4ski/minibufexpl.vim.git
[submodule ".vim/bundle/Dispatch"]
	path = .vim/bundle/Dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/orgmode"]
	path = .vim/bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/calendar"]
	path = .vim/bundle/calendar
	url = https://github.com/mattn/calendar-vim.git
[submodule ".vim/bundle/simple_bookmarks"]
	path = .vim/bundle/simple_bookmarks
	url = https://github.com/AndrewRadev/simple_bookmarks.vim.git
[submodule ".vim/bundle/obsession"]
	path = .vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp-modified"]
	path = .vim/bundle/ctrlp-modified
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
[submodule ".vim/bundle/ctrlp-funky"]
	path = .vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
