[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/Color-Sampler-Pack"]
	path = .vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack
[submodule ".vim/bundle/IndexedSearch"]
	path = .vim/bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch
[submodule ".vim/bundle/bandit.vim"]
	path = .vim/bundle/bandit.vim
	url = https://github.com/vim-scripts/bandit.vim
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule ".vim/bundle/Enter-Indent"]
	path = .vim/bundle/Enter-Indent
	url = https://github.com/vim-scripts/Enter-Indent
[submodule ".vim/bundle/grep.vim"]
	path = .vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule ".vim/bundle/gtags.vim"]
	path = .vim/bundle/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim
[submodule ".vim/bundle/marvim"]
	path = .vim/bundle/marvim
	url = https://github.com/vim-scripts/marvim
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule ".vim/bundle/Rename2"]
	path = .vim/bundle/Rename2
	url = https://github.com/vim-scripts/Rename2
[submodule ".vim/bundle/sessionman.vim"]
	path = .vim/bundle/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim
[submodule ".vim/bundle/TabBar"]
	path = .vim/bundle/TabBar
	url = https://github.com/vim-scripts/TabBar
[submodule ".vim/bundle/Vimball"]
	path = .vim/bundle/Vimball
	url = https://github.com/vim-scripts/Vimball
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule ".vim/bundle/textobj-word-column.vim"]
	path = .vim/bundle/textobj-word-column.vim
	url = https://github.com/coderifous/textobj-word-column.vim
[submodule ".vim/bundle/current-func-info.vim"]
	path = .vim/bundle/current-func-info.vim
	url = https://github.com/tyru/current-func-info.vim
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/localbundle.vim"]
	path = .vim/bundle/localbundle.vim
	url = https://github.com/Rykka/localbundle.vim
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule ".vim/bundle/neocomplcache-snippets-complete"]
	path = .vim/bundle/neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/quickfixsigns_vim"]
	path = .vim/bundle/quickfixsigns_vim
	url = https://github.com/tomtom/quickfixsigns_vim
[submodule ".vim/bundle/vim-scratch"]
	path = .vim/bundle/vim-scratch
	url = https://github.com/duff/vim-scratch
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/Nnerdcommenter"]
	path = .vim/bundle/Nnerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/CVSconflict"]
	path = .vim/bundle/CVSconflict
	url = https://github.com/vim-scripts/CVSconflict.git
[submodule ".vim/bundle/DirDiff"]
	path = .vim/bundle/DirDiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule ".vim/bundle/DoxygenToolkit"]
	path = .vim/bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule ".vim/bundle/errormarker"]
	path = .vim/bundle/errormarker
	url = https://github.com/vim-scripts/errormarker.vim.git
[submodule ".vim/bundle/vim-exjumplist"]
	path = .vim/bundle/vim-exjumplist
	url = https://github.com/kana/vim-exjumplist.git
[submodule ".vim/bundle/Mark--Karkat"]
	path = .vim/bundle/Mark--Karkat
	url = https://github.com/chin4ski/Mark--Karkat.git
[submodule ".vim/bundle/TagHighlight"]
	path = .vim/bundle/TagHighlight
	url = https://github.com/abudden/TagHighlight.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/xml.vim"]
	path = .vim/bundle/xml.vim
	url = https://github.com/othree/xml.vim.git
[submodule ".vim/bundle/xterm-color-table.vim"]
	path = .vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule ".vim/bundle/vim-yankstack"]
	path = .vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
