! Compilation from source:
! ./configure --prefix=$HOME/env --enable-256-color --enable-double-buffer --enable-wide-chars
! make
! make install

! xtem
*foreground:white
*background:#222222
!!black
!*color0:     #101010
!*color8:     #404040
!!red
!*color1:     #E84F4F
!*color9:     #D23D3D
!!green
!*color2:     #B8D68C
!*color10:    #A0CF5D
!!yellow
!*color3:     #E1AA5D
!*color11:    #F39D21
!blue
*color4:     #7DC8CF
*color12:    #4E9FB1
!!magenta
!*color5:     #9B64FB
!*color13:    #8542FF
!!cyan
!*color6:     #6D878D
!*color14:    #42717B
!!white
!*color7:     #dddddd
!*color15:    #dddddd



xterm*title: xterm
xterm*Font: fixed
xterm*boldFont: fixed
!xterm*initialFont: 4
!xterm*font: -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
!xterm*font: -*-dejavu sans mono-*-*-*-*-*-*-*-*-*-*-*-*
!xterm*font: -*-dina-*-*-*-*-*-*-*-*-*-*-*-*
xterm*geometry:     160x60
xterm*utf8:              1
xterm*eightBitInput:     true
xterm*eightBitControl:   false
xterm*eightBitOutput:    true
xterm*metaSendsEscape:    false
xterm*altSendsEscape:     false
xterm*scrollTtyOutput:    false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*scrollBar:          false
xterm*rightScrollBar:     false
xterm*allowBoldFonts:     true
xterm*wideBoldFont:       true
xterm*boldMode:           false
xterm*saveLines:          1000
xterm*cursorColor:        green
xterm*appkeypadDefault:   true
!xterm*oldXtermFKeys:      true
xterm*charClass:          33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*Translations: #override \
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)\n\
    Meta<Key>d:  string("\033d")\n\
    Alt<Key>d:  string("\033d")\n\
    Meta<Key>s:  string("\033s")\n\
    Alt<Key>s:  string("\033s")\n\
    Alt<Key>a:  string("\033a")\n\
    Meta<Key>a:  string("\033a")\n\
    Alt<Key>1:  string("\0331")\n\
    Meta<Key>1:  string("\0331")\n\
    Alt<Key>2:  string("\0332")\n\
    Meta<Key>2:  string("\0332")\n\
    Alt<Key>3:  string("\0333")\n\
    Meta<Key>3:  string("\0333")\n\
    Alt<Key>4:  string("\0334")\n\
    Meta<Key>4:  string("\0334")\n\
    Alt<Key>5:  string("\0335")\n\
    Meta<Key>5:  string("\0335")\n\
    ~Ctrl ~Meta Shift  <Key> Return:      string(0x1b) string("[z2b") \n\
    ~Ctrl Meta  ~Shift <Key> Return:      string(0x1b) string("[z3b") \n\
    ~Ctrl Meta  Shift  <Key> Return:      string(0x1b) string("[z4b") \n\
    Ctrl  ~Meta ~Shift <Key> Return:      string(0x1b) string("[z5b") \n\
    Ctrl  ~Meta Shift  <Key> Return:      string(0x1b) string("[z6b") \n\
    Ctrl  Meta  ~Shift <Key> Return:      string(0x1b) string("[z7b") \n\


urxvt*title: urxvt
urxvt*font: -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*boldFont:  -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*font: -*-dina-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*VT100.geometry:     160x60
urxvt*utf8:              1
urxvt*VT100*eightBitInput:     true
urxvt*VT100*eightBitControl:   false
urxvt*VT100*eightBitOutput:    true
urxvt*meta8:    true
urxvt*modifier:    alt|meta
urxvt*scrollTtyOutput:    false
urxvt*jumpScroll:         true
urxvt*multiScroll:        true
urxvt*scrollBar:          false
urxvt*rightScrollBar:     false
urxvt*allowBoldFonts:     true
urxvt*wideBoldFont:       true
urxvt*boldMode:           false
urxvt*saveLines:          1000
urxvt*cursorColor:        green
urxvt*appkeypadDefault:   true
    Meta<Key>d:  string("\033d")\n\
    Alt<Key>d:  string("\033d")\n\
    Meta<Key>s:  string("\033s")\n\
    Alt<Key>s:  string("\033s")\n\
    Alt<Key>a:  string("\033a")\n\
    Meta<Key>a:  string("\033a")\n\
    Alt<Key>1:  string("\0331")\n\
    Meta<Key>1:  string("\0331")\n\
    Alt<Key>2:  string("\0332")\n\
    Meta<Key>2:  string("\0332")\n\
    Alt<Key>3:  string("\0333")\n\
    Meta<Key>3:  string("\0333")\n\
    Alt<Key>4:  string("\0334")\n\
    Meta<Key>4:  string("\0334")\n\
    Alt<Key>5:  string("\0335")\n\
    Meta<Key>5:  string("\0335")\n\


st*foreground:white
st*background:#222222
st*font: -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
!st*font: -*-orp-medium-r-semicondensed-*-13-*-*-*-*-*-*-*
!st*font: -*-profont-*-*-*-*-*-*-*-*-*-*-*-*
!st*font:              -*-dina-medium-r-normal-*-13-80-*-*-*-*-*-*
st*VT100.geometry:     160x60
st*utf8:              1
st*VT100*eightBitInput:     true
st*VT100*eightBitControl:   false
st*VT100*eightBitOutput:    true
st*metaSendsEscape:    false
st*altSendsEscape:     false
st*scrollTtyOutput:    false
st*jumpScroll:         true
st*multiScroll:        true
st*scrollBar:          false
st*rightScrollBar:     false
st*boldMode:           false
st*saveLines:          1000
st*cursorColor:        green
st*appkeypadDefault:   true
st*charClass:          33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
st*selectToClipboard:  true

!st*VT100.Translations: #override \
!    Meta<KeyPress> d:    string("ciao")\n\
!    <Key>Super_L:  string("\033\033[24~")
!Meta<Key>d:    string(0x1b) string("d")

